.DropdownMenuContent {
  will-change: transform, opacity;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;

  position: relative;

  width: fit-content;
  padding: 13px;

  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  .arrowBox {
    position: absolute;
    top: -3.75px;
    right: calc(90% - 3px);
    transform: rotate(45deg);

    width: 9px;
    height: 9px;

    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-100);
    border-right: none;
    border-bottom: none;
  }
}

.DropdownMenuContent[data-side='top'] {
  animation-name: slideDownAndFade;
}

.DropdownMenuContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.DropdownMenuContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.DropdownMenuContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuSeparator {
  height: 1px;
  margin: 0 5px;
  background-color: var(--color-dark-500);
}

.item {
  cursor: pointer;

  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  padding: 13px;

  text-align: start;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: var(--color-light-100);
  }

  &:hover {
    background-color: var(--color-dark-300);
  }

  &:active {
    background-color: var(--color-dark-100);
  }

  &:focus-visible {
    outline: none;
  }
}

.text {
  padding-bottom: 2px;
}

@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
